<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>label</key>
		<string>ERROR</string>
		<key>type</key>
		<string>house</string>
		<key>parcel</key>
		<string>3</string>
		<key>value</key>
		<string>666</string>
		<key>dateSpent</key>
		<string>12/03/1989</string>
		<key>dateCreated</key>
		<string>12/03/1990</string>
		<key>dateUpdated</key>
		<string>12/03/1991</string>
		<key>notes</key>
		<string>Notes annotation</string>
	</dict>
</array>
</plist>
